div {
    font-family: 'Space Mono', monospace;
}

#nav{
    padding-top: 10px;
    transition: background-color .5s;
    border-radius: 60px;
}

#brand {
    transition: background-color .5s;
    border-radius: 60px;
}

#brand:hover {
box-shadow:  35px -35px 100px #cfd3d7,
             -35px 35px 100px #f9fdff;
}

#nav:hover {
    box-shadow:  35px -35px 100px #a4a7aa,
    -35px 35px 100px #f9fdff;
}

#navbar {
    margin: 0px;
    padding: 0px
}